@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: GeneralSans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: hsl(219.57, 50.54%, 36.47%);
  --foreground-rgb: 0, 0, 0;
  --background: #f2f2f2;
  --text: #000000;
}

:root.dark {
  --primary: hsl(219.57, 60%, 46.47%);
  --foreground-rgb: 255, 255, 255;
  --background: #1a1a1a;
  --text: #f2f2f6;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('./assets/fonts/GeneralSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('./assets/fonts/GeneralSans-Semibold.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gambetta-Light';
  src: url('./assets/fonts/Gambetta-Light.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gambetta-Regular';
  src: url('./assets/fonts/Gambetta-Regular.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gambetta-Medium';
  src: url('./assets/fonts/Gambetta-Medium.otf');
  font-style: normal;
  font-display: swap;
}

